
@{
    ViewBag.Title = "Login - Konnect Us";
}

<div class="login-body">

    <div class="wrapper">
        <div class="login-title">Login Form</div>

        <form method="get" action="javascript:void(0)">
            <div class="field">
                <input type="text" required>
                <label>Contact Number</label>
            </div>
            <div class="field">
                <input type="password" required>
                <label>Password</label>
            </div>
            <div class="pass-link"><a href="#">Forgot Password?</a></div>
            <div class="field">
                <button onclick="loginUser()">Login</button>
                <input  type ="submit" value="Login">
            </div>
            <div class="signup-link">Not a member? @Html.ActionLink("Signup", "Signup", "Account")</div>
        </form>
    </div>
</div>


@section scripts{
    <script>

        function hello() {
            alert ('hello world')
        }

    </script>

    <script>

        ////$('form').on('submit', function () {
            
        function loginUser() {


            let num = $('input[type="text"]').val();
            let pwd = $('input[type="password"]').val();

            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            var raw = JSON.stringify({
                "number": num,
                "password": pwd
            });

            var requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: raw,
                redirect: 'follow'
            };

            fetch("http://localhost:60677/api/AccountAPI/Login", requestOptions)
                .then(response => {
                    console.log(response.status);
                    return response.text()
                })
                .then(result => console.log(result))
                .catch(error => console.log('error', error));
        }
    </script>    
}