@{
    ViewBag.Title = "Contact Us - Konnect Us";
}

<div class="contactBody">


    <div class="panel">
        <div class="left">
            <div class="element">
                <p class="name">Muhammad Awais Yousaf Dar</p>
                <p class="email">awaisdar407@gmail.com</p>
            </div>

            <div class="element">
                <p class="name">Muhammad Khuzaima Umair</p>
                <p class="email">mkhuzaimaumair@gmail.com</p>
            </div>

            <div class="element">
                <p class="name">Muhammad Abdullah Butt</p>
                <p class="email">abutt2210@gmail.com</p>
            </div>
        </div>
        <div class="middle"></div>
        <div class="right">
            <p class="heading">Send us a Message</p>
            <input type="text" placeholder="Enter your Name" class="name">
            <input type="text" placeholder="Enter your Email" class="email">
            <input type="text" placeholder="Enter your Message" class="msg">
            <button type="button" class="sendBtn">Send Now</button>

        </div>
    </div>

</div>