
@{
    ViewBag.Title = "Need Help - Konnect Us";
}

<div class="contactBody">
    <div class="panel">
        <div class="left">
            <img src="images/doctor.png" alt="">
            <p>What Help Do You Want ?</p>
        </div>
        <div class="middle"></div>
        <div class="right">
            <p class="heading">Send us a Message</p>
            <input type="text" placeholder="Enter your Name" class="name">
            <input type="text" placeholder="Enter your Email" class="email">
            <input type="text" placeholder="Enter your Message" class="msg">
            <button type="button" class="sendBtn">Send Now</button>

        </div>
    </div>
</div>
