@{
    ViewBag.Title = "Home Page";
}

<div class="frontier">
    <div class="textLeft">
        <div class="aboveText"><p>Konnect Us</p></div>
        <div class="lowerText"><p>Keeping you connect for your safety</p></div>
    </div>
    <div class="rightImage">
        <img src="~/Content/images/doctor.png" alt="Doctor">
    </div>
</div>

<div class="quotation" style="font-size:15px">
    <b>"...let me congratulate you on the choice of calling which offers a combination of intellectual and moral interests found in no other profession."</b>

    <br> ― Sir William Olser (1849 - 1919)
</div>