@*<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>*@
<title>Welcome To Konnect Us</title>
<link rel="stylesheet" href="../../Content/style.css">
<link rel="icon" type="image/x-icon" href="../../Content/images/favicon.ico">



<div class="navbar">
    <img src="images/logo.png" alt="Logo" class="Mainlogo">
    <div class="navText">Connecting you for you</div>
    <div class="nav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="MedicalHistory.html">Medical History</a></li>
            <li><a href="#">Rate Doctor</a></li>
            <li><a href="#">Filter Doctor</a></li>
            <li><a href="#">Logout </a></li>
        </ul>
    </div>

</div>




<div class="frontier">
    <div class="textLeft">
        <div class="aboveText"><p>Konnect Us</p></div>
        <div class="lowerText"><p>Keeping you connect for your safety</p></div>
    </div>
    <div class="rightImage">
        <img src="./images/doctor.png" alt="Doctor">
    </div>
</div>

<div class="advertisement">
    <h1 class="AddTitle"><p>Doctors For You</p></h1>
    <div class="boxes">
        <div class="box">
            <div class="box-1 sameBox">
                <div class="leftPart">
                    <p class="docType">SPECIALIZATION</p>
                    <p class="Name">Doctor Name </p>
                    <p class="clinic">Clinic Name</p>
                </div>
                <div class="rightPart">
                    <div class="upperLine">
                        <p class="heading">About</p>
                        <p class="value">Rating Value : 4.3</p>
                    </div>
                    <div class="description">I am a very talented doctor. I have studied abroad and have a experience of about 7 years</div>
                    <div class="button"><button>Show More</button></div>
                </div>
            </div>

            <div class="box-2 sameBox">
                <div class="leftPart">
                    <p class="docType">SPECIALIZATION</p>
                    <p class="Name">Doctor Name </p>
                    <p class="clinic">Clinic Name</p>
                </div>
                <div class="rightPart">
                    <div class="upperLine">
                        <p class="heading">About</p>
                        <p class="value">Rating Value : 4.3</p>
                    </div>
                    <div class="description">I am a very talented doctor. I have studied abroad and have a experience of about 7 years</div>
                    <div class="button"><button>Show More</button></div>
                </div>
            </div>


        </div>
    </div>
</div>

<footer>
    <p>Copyrights &copy; 2022 Syntax Terminators - All rights reserved</p>
</footer>



@section scripts{

    @*$.ajax({
        url: 'http://localhost:60677/api/DoctorAPI/GetDoctors',
        type: 'POST',
        data: JSON.stringify(obj),
        contentType: "application/json;charset=utf-8",
        success: function (response) {
            alert(response);
        },
        error: function (data) {
        }
        })*@


    <script>
    $.ajax({
    url: 'http://localhost:60677/api/DoctorAPI/GetDoctors',
    type: 'GET',
    contentType: "application/json;charset=utf-8",





    success: function (response) {
        var htmlStr = '';


        for (var i = 0; i < response.length / 2; i++) {


            j = 2 * i;


            if (j + 1 == response.length) {
                htmlStr += ' <div class="box" style = "display: flex; justify-content: center; align-items: center;" > '
            }
            else {
                htmlStr += ' <div class="box"> '
            }

            htmlStr += '<div class="box-1 sameBox">' +
                '<div class="leftPart" >' +
                '<p class="docType">' + response[j].speciality + '</p>' +
                '<p class="Name">' + response[j].name + '</p>' +
                '<p class="clinic">Clinic Name</p></div>' +
                '<div class="rightPart"><div class="upperLine">' +
                '<p class="heading">About</p>' +
                '<p class="value">Rating Value : ' + response[j].rating + '</p>' +
                '</div>' +
                '<div class="description">' + response[j].tagLine + '</div>' +
                '<div class="button"><button>Show More</button></div>' +
                '</div>' + 
                '</div>';
            j++;
            if (j < response.length) {
                htmlStr += '<div class="box-2 sameBox">' +
                    '<div class="leftPart" >' +
                    '<p class="docType">' + response[j].speciality + '</p>' +
                    '<p class="Name">' + response[j].name + '</p>' +
                    '<p class="clinic">Clinic Name</p></div>' +
                    '<div class="rightPart"><div class="upperLine">' +
                    '<p class="heading">About</p>' +
                    '<p class="value">Rating Value : ' + response[j].rating + '</p>' +
                    '</div>' +
                    '<div class="description">' + response[j].tagLine + '</div>' +
                    '<div class="button"><button>Show More</button></div>' +
                    '</div>' +
                    '</div> ';
            }
            htmlStr += '</div>';

        }

        

            $(".boxes").html(htmlStr)
        },
    error: function (data) {
    }
    })

    </script>
    }